<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://kit.fontawesome.com/aead03389f.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/academicons/1.8.6/css/academicons.min.css">

	<link rel="shortcut icon" type="image/png" href="{{ config.base_url }}/img/favicon/favicon-32x32.png" size="32x32"/>
	<link rel="shortcut icon" type="image/png" href="{{ config.base_url }}/img/favicon/favicon-16x16.png" size="16x16"/>
	<link rel="shortcut icon" type="image/png" href="{{ config.base_url }}/img/favicon/favicon-96x96.png" size="96x96"/>

  <title>Fuman Xie's Home Page</title>
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-MF3XCTC01L"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'G-MF3XCTC01L');
	</script>
  <link rel="stylesheet" href="/style.css">
</head>

<body class="has-navbar-fixed-top" style="position: relative; min-height: 100vh;">
  {% include "navbar.html" %}
  {% block content %} {% endblock %}

  <footer class="footer" style="background-color:#202020">
    <div class="content has-text-centered">
    <!--div class="columns is-desktop"-->
      <!-- div class="column is-10 is-offset-1" -->
      <p style="color: #fafafa">
        &copy; 2023 Fuman Xie.<br>Powered by the academic theme for Zola using Bulma.
      </p>
      <!--/div-->
    </div>
  </footer>
</body>

</html>
